.App {
  text-align: center;
}

.App-logo {
  height: 250px;
  pointer-events: none;
}

.Imagenes-perfil {
  display: inline;
  margin: 20px 0;
}

.Foto-perfil {
  display: inline;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Seccion {
  margin-top: 50px;
}

.ContenedorSeccion {
  display: inline-flex;
}

.SeccionIzquierda {
  margin-right: 25px;
}

.SeccionDerecha {
  margin-left: 25px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
