.App {
  text-align: center;
}

.App-logo {
  height: 250px;
  margin-left: -75px;
  pointer-events: none;
}

.Imagenes-perfil {
  display: inline;
  margin: 20px 0;
}

.Foto-perfil {
  display: inline;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Contenedor {
  border-bottom-style: inset;
  border-bottom-width: 2px;
  padding-bottom: 20px;
}

.Seccion {
  margin-top: 25px;
  color: #74c8fc;
}

.ContenedorSeccion {
  display: inline-flex;
}

@media only screen and (max-width:500px) and (min-width: 1px) {
  .Contenedor {
     padding: 0 10px 20px 10px;
  }
  .App-logo {
    margin-left: unset;
  }
}

.SeccionIzquierda {
  margin-right: 25px;
}

.SeccionDerecha {
  margin-left: 25px;
}
.App-link {
  color: #61dafb;
}

ul {
  padding: 0;
  color: #7b7a7e;
}

h3 {
  color: #536f6f;
}

h4 {
  display: inline;
}

#datosContacto {
  display: block;
}

#Contador {
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
